<%- include('head') %>

<div class="menu">
    <div class="menu-content">
      <a href="/clients/"><li>Listar os clientes</li></a>
      <a href="/clients/new"><li>Cadastrar Cliente</li></a>
      <a href="/clients/searchClientByName"><li>Buscar cliente por Nome</li></a>
      <a href="/clients/searchClientById"><li>Buscar clientes por Código</li></a>
      <a href="/clients/totalClients"><li>Total de clientes</li></a>        
      <li>Deletar cliente</li>
    </div>
</div>
<%- include('footer') %>