<%- include('partials/head') %>
<%- include('partials/menu')%>
<div class="content">
    <h1>Deletar pelo Codigo</h1>
    <form action="/clients/delete?_method=delete" method="post">
        <label for="name" class="form-get-by"><span class="details">Nome <br>
            <input type="text" id="name" name="name" placeholder="Informe o Nome">
        </label>
        <button class="btn-submit-new" type="submit">Deletar</button>
    </form>
    
</div>
<%- include('partials/footer') %>