<%- include('partials/head') %>
<%- include('partials/menu')%>
    <div class="content">
        <h1>Cadastre um novo cliente</h1>
        <div class="form">
            <form action="/" method="post" id="form-new-client">
                <div id="form-spacing">
                    <label for="CodigoDoCliente"><span class="details">Codigo do Cliente<span class="required">*</span>
                        <input type="text" name="CodigoDoCliente" id="CodigoDoCliente" placeholder="Informe o Codigo Do Cliente">
                    </label>
                    <label for="NomeDaEmpresa"><span class="details">Nome da Empresa<span class="required">*</span>
                        <input type="text" name="NomeDaEmpresa" id="NomeDaEmpresa" placeholder="Informe o Nome Da Empresa">
                    </label>
                    <br>
                    <label for="NomeDoContato"><span class="details">Nome do Contato<span class="required">*</span>
                        <input type="text" name="NomeDoContato" id="NomeDoContato" placeholder="Informe o NomeDoContatote">
                    </label>
                    <label for="Cargo do Contato"><span class="details">Cargo do Contato<span class="required">*</span>
                        <input type="text" name="Cargo do Contato" id="Cargo do Contato" placeholder="Informe o Cargo do Contato">
                    </label>
                    <label for="Endereço"><span class="details">Endereço<span class="required">*</span>
                        <input type="text" name="Endereço" id="Endereço" placeholder="Informe o Endereço">
                    </label>
                    <label for="Cidade"><span class="details">Cidade<span class="required">*</span>
                        <input type="text" name="Cidade" id="Cidade" placeholder="Informe a Cidade">
                    </label>
                    <label for="Região"><span class="details">Região<span class="required">*</span>
                        <input type="text" name="Região" id="Região" placeholder="Informe o Região">
                    </label>
                    <label for="CEP"><span class="details">CEP<span class="required">*</span>
                        <input type="text" name="CEP" id="CEP" placeholder="Informe o CEP">
                    </label>
                    <label for="Pais"><span class="details">Pais<span class="required">*</span>
                        <input type="text" name="CEP" id="Pais" placeholder="Informe o Pais">
                    </label>
                    <label for="Telefone"><span class="details">Telefone<span class="required">*</span>
                        <input type="text" name="CEP" id="Telefone" placeholder="Informe o Telefone">
                    </label>
                    <label for="Fax"><span class="details">Fax<span class="required">*</span>
                        <input type="text" name="Fax" placeholder="Informe o Fax">
                    </label>
                </div>
                
             <button id="btn-new-client" type="submit">Cadastrar</button>

            </form>
        </div>
    </div>