<%- include('head') %>

<div class="menu">
  <div class="menu-content">
    <a href="/"><li>Listar os clientes</li></a>
    <a href="/saveClient"><li>Cadastrar Cliente</li></a>
    <a href="/searchByName"><li>Buscar cliente por Nome</li></a>
    <a href="/searchById"><li>Buscar clientes por Código</li></a>
    <a href="/total"><li>Total de clientes</li></a>
    <a href="/delete"><li>Deletar cliente</li></a>
  </div>
</div>
<%- include('footer') %>
