<%- include('partials/head') %>
<%- include('partials/menu')%>
    <div class="content">

        <h1>Controle de clientes</h1>
        <img src="/images/picture.png" alt="" srcset="">
    </div>
<%- include('partials/footer') %>