<%- include('partials/head') %>
<%- include('partials/menu')%>
    <div class="content">
        <h1>Cadastre um novo cliente</h1>
        <div class="form">
            <form action="/saveClient" method="POST" id="form-new-client">
                <div id="form-spacing">
                    <label for="CodigoDoCliente"><span class="details">Codigo do Cliente
                        <input type="text" name="CodigoDoCliente" id="CodigoDoCliente" placeholder="Informe o Codigo Do Cliente">
                    </label>
                    <label for="NomeDaEmpresa"><span class="details">Nome da Empresa
                        <input type="text" name="NomeDaEmpresa" id="NomeDaEmpresa" placeholder="Informe o Nome Da Empresa">
                    </label>
                    <br>
                    <label for="NomeDoContato"><span class="details">Nome do Contato
                        <input type="text" name="NomeDoContato" id="NomeDoContato" placeholder="Informe o NomeDoContatote">
                    </label>
                    <label for="CargoDoContato"><span class="details">Cargo do Contato
                        <input type="text" name="CargoDoContato" id="CargoDoContato" placeholder="Informe o Cargo do Contato">
                    </label>
                    <label for="Endereço"><span class="details">Endereço
                        <input type="text" name="Endereço" id="Endereço" placeholder="Informe o Endereço">
                    </label>
                    <label for="Cidade"><span class="details">Cidade
                        <input type="text" name="Cidade" id="Cidade" placeholder="Informe a Cidade">
                    </label>
                    <label for="Região"><span class="details">Região
                        <input type="text" name="Região" id="Região" placeholder="Informe o Região">
                    </label>
                    <label for="CEP"><span class="details">CEP
                        <input type="text" name="CEP" id="CEP" placeholder="Informe o CEP">
                    </label>
                    <label for="Pais"><span class="details">Pais
                        <input type="text" name="Pais" id="Pais" placeholder="Informe o Pais">
                    </label>
                    <label for="Telefone"><span class="details">Telefone
                        <input type="text" name="Telefone" id="Telefone" placeholder="Informe o Telefone">
                    </label>
                    <label for="Fax"><span class="details">Fax
                        <input type="text" name="Fax" placeholder="Informe o Fax">
                    </label>
                </div>
                
             <button id="btn-new-client" type="submit">Cadastrar</button>

            </form>
        </div>
    </div>
